/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;  
  font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.askstyle{
	font-style: italic;
	text-align: center
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 15px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 80px;
  }
}



.footer {
	clear: both;
	background-color:#000
}

.footer a {
	color: #ccc
}

ay:in.footer.links {
	padding: 20px 0
}

.footer.links h4 {
	color: #24a9e2;
	font-weight: normal
}

.footer.links ul {
	list-style: none;
	margin-left: 0
}

.footer.newsletter {
	background: #ffaf2a;
	padding: 10px 0
}

.footer.newsletter form {
	margin: 0
}

.footer.newsletter label {
	margin-right: 15px;
	font-size: 18px;
	color: #555
}

.footer.newsletter input {
	margin-right: 5px
}

.footer.copyright {
	font-size: 14px;
	padding: 10px 0;
	color: #666
}

.pull-right {
	float: right
}

.pull-left {
	float: left
}

.label-wrap{
	white-space: normal
}
.btn-list {
	background: #fff;
	padding: 10px 5px 10px 0
}

.btn-list a.btn {
	display: block;
	height: 50px;
	background: #000;
	color: #fff;
	font-size: 110%;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin: 0 0 5px 5px;
	padding: 0;
	border: 1px solid #111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000),
		to(#333));
	background-image: -webkit-linear-gradient(#000, #333);
	background-image: -moz-linear-gradient(#000, #333);
	background-image: -ms-linear-gradient(#000, #333);
	background-image: -o-linear-gradient(#000, #333);
	background-image: linear-gradient(#000, #333)
}

.btn-list a.btn:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222),
		to(#555));
	background-image: -webkit-linear-gradient(#222, #555);
	background-image: -moz-linear-gradient(#222, #555);
	background-image: -ms-linear-gradient(#222, #555);
	background-image: -o-linear-gradient(#222, #555);
	background-image: linear-gradient(#222, #555)
}

.btn-list img {
	vertical-align: middle;
	height: 30px;
	margin-right: 6px
}

.content-features {
	background: #24a9e2
}

.content-features ul.features {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	background: #cce9f7
}

.content-features li:nth-child(even) {
	background: #fff
}

.content-features .box-inner {
	padding: 20px 20px 20px 140px;
	position: relative
}

.content-features h3 {
	color: #24a9e2;
	margin: 0;
	font-size: 125%;
	font-weight: normal
}

.content-features img {
	position: absolute;
	left: 20px;
	top: 30px;
	max-width: 100px
}

.content-features p {
	margin: 10px 0;
	min-height: 64px
}

.content-why {
	margin-top: 10px;
	padding: 20px 0;
	background: #cce9f7;
	position: relative
}

.content-why .faq {
	margin: 0 15px
}

.content-why .faq-title {
	margin: 0
}

.content-why .reason {
	position: relative
}

.content-why .reason .reason-title {
	background: #24a9e2;
	color: #fff;
	padding: 15px 0 15px 70px
}

.content-why .reason ul {
	list-style: none;
	padding-left: 0
}

.content-why .reason img {
	position: absolute;
	left: 15px;
	top: 10px;
	height: 32px;
	width: auto
}

.content-why .reason.reach img {
	top: 15px
}

.content-why .reference {
	border-top: 1px solid #CCC;
	margin-top: 30px;
	padding: 10px 15px;
	color: #999;
	font-size: 80%
}

.content-why .reference a {
	color: #666
}

.content-how>.steps>h2 {
	font-size: 120%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px inset rgba(0, 0, 0, 0.3)
}

.content-how>.steps>ul {
	list-style: none;
	padding: 0 20px
}

.content-how>.steps li {
	margin: 15px 0;
	line-height: 1.5
}

.content-how>.steps strong {
	background: #fff;
	font-size: 16px;
	font-style: normal;
	padding: 3px 8px;
	border-radius: 15px;
	margin-right: 10px
}

.content-how>.pricing>h2 {
	color: #fff;
	padding: 0 20px;
	font-size: 150%
}

.content-how>.pricing table {
	background: #000;
	margin: 0 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.content-how>.pricing td {
	padding: 0 20px;
	text-align: center
}

.content-how>.pricing .price {
	font-size: 48px;
	color: #ffaf2a;
	padding: 20px 0;
	border-bottom: 1px solid #ffaf2a
}

.content-how>.pricing .desc {
	padding: 20px 0;
	font-weight: normal
}

.content-how>.pricing strong {
	display: block;
	color: #ffaf2a;
	margin-bottom: 20px
}

.content-how>.pricing em {
	display: block;
	font-weight: normal;
	color: #fff
}

.content-how .features {
	background: #fff;
	padding: 10px 20px 10px 40px;
	margin: 0
}

.content-how .signup {
	background: #fff;
	padding: 20px
}

.content-how .faq {
	background: #cce9f7;
	padding: 20px
}

.content-how .faq h5 {
	margin-bottom: 0
}

.content-about>.title {
	padding: 0 20px;
	color: #fff
}

.content-about>.mission {
	padding: 20px;
	margin: 0;
	background: #cce9f7
}

.content-about>.deliver {
	background: #fff;
	padding: 10px 20px;
	margin: 0;
	list-style: none
}

.content-about li {
	border-bottom: 1px solid rgba(130, 130, 130, 0.3)
}

.content-about li:last-child {
	border-bottom: 0
}

.content-about img {
	width: 150px;
	height: auto;
	float: right;
	margin-left: 10px
}

.content-contact h2 {
	color: #fff;
	font-size: 120%;
	padding: 15px 20px;
	margin: 0
}

.content-contact .emails,.content-contact .locations {
	background: #cce9f7;
	list-style: none;
	margin: 0;
	padding: 20px
}

.content-contact li {
	margin-bottom: 15px
}

.content-contact h3 {
	margin: 0 0 5px 0;
	font-size: 110%
}

.content-contact a {
	color: #000
}

.content-contact address {
	font-style: normal
}

.navfont{
	font-size: 16px
}