body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	position: relative;
	margin: 0
}

img {
	max-width: 100%
}

form {
	position: relative
}

form>.fm-overlay {
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 2px;
	width: 100%;
	height: 100%;
	background: #cce9f7;
	color: #000;
	text-align: center;
	font-size: 110%;
	display: none;
	z-index: 100
}

form .fm-overlay-inner {
	padding-top: 50px
}

.hide {
	display: none
}

.header {
	background: #fff !important;
	height: 60px
}

.header>a.logo-link {
	left: 0;
	top: 0
}

.header>a.menu {
	top: 14px;
	right: 15px
}

.header>a.back {
	top: 14px;
	left: 15px
}

.header>h1.title {
	margin-top: 20px
}

.header img.logo-img {
	display: block;
	position: absolute;
	height: 32px;
	width: auto;
	max-width: none;
	top: 14px;
	left: 15px
}

.footer {
	background: #ffaf2a !important;
	text-align: center
}

.footer>h5 {
	font-weight: normal;
	text-shadow: none
}

.footer a {
	color: #333
}

.content {
	padding: 0 !important;
	background: #24a9e2;
	position: relative;
	text-shadow: none
}

.content>.content-inner {
	margin-top: 10px;
	padding: 20px;
	background: #cce9f7;
	position: relative
}

#menu {
	background: transparent;
	border: 0;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.metro-wrapper {
	margin: 20px 0;
	padding: 50px 10px 20px 10px
}

a.ui-btn-right.metro-close {
	right: 20px;
	top: 0
}

.metro {
	list-style: none;
	text-shadow: none;
	margin: 0 auto;
	padding: 0;
	min-width: 290px;
	max-width: 530px
}

.metro>li {
	margin: 0 0 10px 10px;
	background: #24a9e2;
	text-align: center;
	padding: 10px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left
}

.metro img {
	width: 80px;
	height: 80px
}

.metro h4 {
	margin: 0;
	font-size: 16px;
	font-weight: normal
}

.metro h3 {
	font-weight: normal
}

.metro .highlight {
	background: #ffaf2a;
	color: #000
}

.metro .fullrow {
	width: 230px
}

.metro .fullrow img {
	vertical-align: middle;
	margin: 10px 20px 10px 0
}

.metro a.box {
	text-decoration: none;
	color: #fff
}

.metro a.link {
	color: #000
}

@media ( min-width :420px) and (max-width:529px) {
	.fullrow {
		width: 360px !important
	}
}

@media ( min-width :530px) {
	.fullrow {
		width: 490px !important
	}
}

.metro::after {
	clear: both
}

.metro::before,.metro::after {
	display: table;
	content: "";
	line-height: 0
}

.ui-icon-menu {
	background-image: url("/img/menu.png")
}

.ui-icon {
	background-color: rgba(0, 0, 0, 0.5)
}

.ui-popup-screen.in {
	opacity: .95;
	filter: alpha(opacity = 95)
}

.banner {
	background: #24a9e2;
	padding: 30px 0
}

ul.slides {
	margin: 0;
	padding: 20px 0;
	list-style: none;
	min-height: 400px
}

ul.slides .slide {
	position: relative
}

ul.slides h1 {
	color: #fff;
	font-size: 200%;
	margin: 0;
	padding-left: 20px
}

ul.slides img {
	display: block;
	float: right;
	margin-top: -20px
}

.btn-signup {
	background: #cce9f7;
	text-align: center;
	padding: 25px 0
}

.btn-signup h2 {
	display: inline-block;
	color: #24a9e2;
	margin: 10px 0
}

.btn-signup .btn {
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
	color: white;
	vertical-align: middle;
	background-color: #24a9e2;
	padding: 10px 20px;
	background-image: -moz-linear-gradient(top, #1faff7, #178bbd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1faff7),
		to(#178bbd));
	background-image: -webkit-linear-gradient(top, #1faff7, #178bbd);
	background-image: -o-linear-gradient(top, #1faff7, #178bbd);
	background-image: linear-gradient(to bottom, #1faff7, #178bbd);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px
		rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px
		rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px
		rgba(0, 0, 0, 0.25)
}

.btn-list {
	background: #fff;
	padding: 10px 5px 10px 0
}

.btn-list a.btn {
	display: block;
	height: 50px;
	background: #000;
	color: #fff;
	font-size: 110%;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin: 0 0 5px 5px;
	padding: 0;
	border: 1px solid #111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000),
		to(#333));
	background-image: -webkit-linear-gradient(#000, #333);
	background-image: -moz-linear-gradient(#000, #333);
	background-image: -ms-linear-gradient(#000, #333);
	background-image: -o-linear-gradient(#000, #333);
	background-image: linear-gradient(#000, #333)
}

.btn-list a.btn:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222),
		to(#555));
	background-image: -webkit-linear-gradient(#222, #555);
	background-image: -moz-linear-gradient(#222, #555);
	background-image: -ms-linear-gradient(#222, #555);
	background-image: -o-linear-gradient(#222, #555);
	background-image: linear-gradient(#222, #555)
}

.btn-list img {
	vertical-align: middle;
	height: 30px;
	margin-right: 6px
}

.content-features {
	background: #24a9e2
}

.content-features ul.features {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	background: #cce9f7
}

.content-features li:nth-child(even) {
	background: #fff
}

.content-features .box-inner {
	padding: 20px 20px 20px 140px;
	position: relative
}

.content-features h3 {
	color: #24a9e2;
	margin: 0;
	font-size: 125%;
	font-weight: normal
}

.content-features img {
	position: absolute;
	left: 20px;
	top: 30px;
	max-width: 100px
}

.content-features p {
	margin: 10px 0;
	min-height: 64px
}

.content-why {
	margin-top: 10px;
	padding: 20px 0;
	background: #cce9f7;
	position: relative
}

.content-why .faq {
	margin: 0 15px
}

.content-why .faq-title {
	margin: 0
}

.content-why .reason {
	position: relative
}

.content-why .reason .reason-title {
	background: #24a9e2;
	color: #fff;
	padding: 15px 0 15px 70px
}

.content-why .reason ul {
	list-style: none;
	padding-left: 0
}

.content-why .reason img {
	position: absolute;
	left: 15px;
	top: 10px;
	height: 32px;
	width: auto
}

.content-why .reason.reach img {
	top: 15px
}

.content-why .reference {
	border-top: 1px solid #CCC;
	margin-top: 30px;
	padding: 10px 15px;
	color: #999;
	font-size: 80%
}

.content-why .reference a {
	color: #666
}

.content-how>.steps>h2 {
	font-size: 120%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px inset rgba(0, 0, 0, 0.3)
}

.content-how>.steps>ul {
	list-style: none;
	padding: 0 20px
}

.content-how>.steps li {
	margin: 15px 0;
	line-height: 1.5
}

.content-how>.steps strong {
	background: #fff;
	font-size: 16px;
	font-style: normal;
	padding: 3px 8px;
	border-radius: 15px;
	margin-right: 10px
}

.content-how>.pricing>h2 {
	color: #fff;
	padding: 0 20px;
	font-size: 150%
}

.content-how>.pricing table {
	background: #000;
	margin: 0 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.content-how>.pricing td {
	padding: 0 20px;
	text-align: center
}

.content-how>.pricing .price {
	font-size: 48px;
	color: #ffaf2a;
	padding: 20px 0;
	border-bottom: 1px solid #ffaf2a
}

.content-how>.pricing .desc {
	padding: 20px 0;
	font-weight: normal
}

.content-how>.pricing strong {
	display: block;
	color: #ffaf2a;
	margin-bottom: 20px
}

.content-how>.pricing em {
	display: block;
	font-weight: normal;
	color: #fff
}

.content-how .features {
	background: #fff;
	padding: 10px 20px 10px 40px;
	margin: 0
}

.content-how .signup {
	background: #fff;
	padding: 20px
}

.content-how .faq {
	background: #cce9f7;
	padding: 20px
}

.content-how .faq h5 {
	margin-bottom: 0
}

.content-about>.title {
	padding: 0 20px;
	color: #fff
}

.content-about>.mission {
	padding: 20px;
	margin: 0;
	background: #cce9f7
}

.content-about>.deliver {
	background: #fff;
	padding: 10px 20px;
	margin: 0;
	list-style: none
}

.content-about li {
	border-bottom: 1px solid rgba(130, 130, 130, 0.3)
}

.content-about li:last-child {
	border-bottom: 0
}

.content-about img {
	width: 150px;
	height: auto;
	float: right;
	margin-left: 10px
}

.content-contact h2 {
	color: #fff;
	font-size: 120%;
	padding: 15px 20px;
	margin: 0
}

.content-contact .emails,.content-contact .locations {
	background: #cce9f7;
	list-style: none;
	margin: 0;
	padding: 20px
}

.content-contact li {
	margin-bottom: 15px
}

.content-contact h3 {
	margin: 0 0 5px 0;
	font-size: 110%
}

.content-contact a {
	color: #000
}

.content-contact address {
	font-style: normal
}

.content-jobs>.foreword {
	background: #cce9f7;
	padding: 10px 20px
}

.content-jobs h4 {
	background: #24a9e2;
	color: #fff;
	margin: 0;
	padding: 20px
}

.content-jobs .desc {
	background: #fff;
	padding: 10px 20px
}

.icon {
	display: inline-block;
	background: url('/img/icons.png')
}

.icon-metro {
	width: 80px;
	height: 80px
}

.icon-metro.about {
	background-position: 0 0
}

.icon-metro.contact {
	background-position: 0 -140px
}

.icon-metro.features {
	background-position: 0 -230px
}

.icon-metro.home {
	background-position: 0 -362px
}

.icon-metro.how {
	background-position: 0 -452px
}

.icon-metro.jobs {
	background-position: 0 -542px
}

.icon-metro.signup {
	background-position: 0 -632px
}

.icon-metro.support {
	background-position: 0 -722px
}

.icon-metro.why {
	background-position: 0 -812px
}

.icon-close {
	width: 40px;
	height: 40px;
	background-position: 0 -90px
}

.icon-forward {
	width: 38px;
	height: 32px;
	background-position: 0 -320px
}

.flexslider {
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease
}

.loading .flex-viewport {
	max-height: 300px
}

.flexslider .slides {
	zoom: 1
}

.slides>li {
	display: none;
	-webkit-backface-visibility: hidden
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	padding: 0;
	bottom: 0;
	margin: 15px 0 10px;
	text-align: center;
	list-style: none
}

.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}

.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, 0.7)
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	cursor: default
}

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

html[xmlns] .slides {
	display: block
}

* html .slides {
	height: 1%
}